# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDEs y Editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales y logs
*.log
.temp/
.tmp/

